@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

html{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: hsl(210, 46%, 95%);
    height: fit-content;
    text-align: center;
}

.mainsec{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
    margin: 2rem;
    border-radius: 0.5rem;
}
.imgsec{
    img{
        width: 23.5rem;
    }
    
}

.textsec{
    h3{
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .para{
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    
    .avatar{
        border-radius: 30rem;
        width: 5rem;
        margin-left: -16rem;
        margin-bottom: -5rem;    
    }
    .share{
        margin-bottom: 1rem; 
        margin-right: -15rem;
        background-color: hsl(212, 23%, 69%);
        border-radius: 1rem;
        width: 1.8rem;
        height: 1.8rem;
    }
    .pop{
        position: relative;
        bottom: 7rem;
        background-color: hsl(214, 17%, 51%);
        display: inline;
        width: 10rem;
        height: 2.5rem;
        text-align: center;
        margin-left: 13rem;
        border-radius: 0.2rem;
    }
    #parent #popup {
        display: none;
    }
      
    #parent:hover #popup {
     display: block;
    }
    
}

@media screen and (min-width:1024px) {
    .mainsec{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        width: 73rem;
        margin-top: 10rem;
        height: 20rem;
        margin-left: 13rem;
    }
    .imgsec{
        img{
            width: 37rem;
            height: 20rem;
        }
        
    }
    .textsec{
        .pop{
            margin-left: 20rem;
        }
    }
}

